---
import { previewLink } from './projectsList/_projectList'
import type { Project } from './projectsList/_projectList'

export interface Props {
  project: Project;
}
const { project } = Astro.props;
---

<div
  id="project"
  class="grid-span-2 flex flex-col border-b defaultBorder pb-5 gap-1"
>
  <div class="flex items-center gap-2">
    <a
      target="_blank"
      href={previewLink(project)}
      class="font-bold font-sans text-base cursor-pointer"
    >
      {project.projectName}
    </a>
    <div class="flex items-center">
      {
        (project.links ?? []).map(link => (
          <a
            target="_blank"
            href={link.href}
            class:list={[
              'font-bold font-sans opacity-50 hover:opacity-100 block transition-opacity',
              link.icon,
            ]}
          />
        ))
      }

    </div>
  </div>
  <div class="text-sm">
    { (project.period && `${project.period}`)}
  </div>
  <p class="font-sans text-base text-sm">{project.description}</p>
</div>

<style>
  #postsListWrapper:hover #project {
    @apply md:dark:text-dark-2 md:text-gray-3 md:transition-colors md:ease-in-out md:duration-300;
  }
  #postsListWrapper:hover #project:hover {
    @apply md:defaultDark md:defaultLight md:transition-colors md:ease-in-out md:duration-100;
  }
</style>
